@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-color);
  background-color: white;
}

html,body,#home-wrapper{
  width: 100% !important;
  height: 100% !important;
  /* overflow: hidden; */
}

:root{
  --primary-color:#f7941e;
  --dark-color:#121212;
  --light-color:#f8f8f8;
}

a{
  text-decoration: none;
  color: black;
  transition: .4s all;;
}

a:hover{
    color: var(--primary-color);
}

.space-top{
  height: 81px;
}
#home-wrapper{
 position: relative;
 /* background-color: black;
 padding: 1rem; */
  z-index: 1;
}
.main-wrapper{
  background-color: var(--dark-color);
  padding: 0rem 1rem;
}

section{
  background-color: white;

}

/* ----------- bUTTON -------------- */
.btn-main{
  outline: none;
  display: inline-block;
  padding: 6px 15px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0 0 0 1px black;
  text-align: center;
  text-transform: capitalize;
  transform: scale(1);
  transition: .2s all ease-in;
}
.btn-main:hover{
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 0 0 0px black;
  transform: scale(1.1);
  color: var(--dark-color) !important;
}

.btn-normal{
  outline: none;
  display: inline-block;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 7px 15px;
  border: 2px solid var(--primary-color);
  border-radius:3px;  
  text-align: center;
  transform: .3s all;

}
.btn-normal:hover{
  border-color: #ffffff;
  background-color: var(--primary-color);
  color: var(--dark-color) !important;
}

   /* ---------- COMMON------------- */

   .sec-title {
    position: relative;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 800;
    font-family: 'Bebas Neue', sans-serif !important;
    font-family: 'neue-haas-unica, neue-haas-unica_fallback', sans-serif !important;
    margin: 0px 0 50px 0;
    padding-top: 30px;
}

.sec-title.light{
    color: white;
}

.sec-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 4px;
    width: 80px;
    background-color: var(--primary-color);
}

.sec-title.center::after {
    left: 50%;
    transform: translateX(-50%);
}


/* ============== MAIN PAGE= ==================== */

/* ---------- breadcrumb ---------- */
.breadcrumb .breadcrumb-item a{
    color: #888;
    text-transform: uppercase;
    font-style: italic;
    font-size: 13px;

  }
  .breadcrumb .breadcrumb-item.active{
    color: var(--primary-color);
    text-transform: uppercase;
    font-style: italic;
    font-size: 13px;
    font-weight: 600;

  }

  /* ------------ single product --------- */
  .single-pro{
    .pro-title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-weight: normal; 
      
  }
  .pro-price span:nth-child(1){
    font-size: 1.1rem;
    padding-right: .8rem;
    text-decoration: line-through;
    color: #777;
  }
  .pro-price span:nth-child(2){
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
  }
  .pro-disc{
    font-size: .9rem;
    font-weight: 500;
    /* color: #777; */
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .pro-disc span{
    font-style: italic;
    font-size: 1rem;

  }
  .pro-content{
    font-size: 1rem;
    font-weight: 700;
    color: #555;
  }
  }

   /* ------------ review ------------ */
   .reviews {
    /* position: relative; */
    padding: 3rem 0;
}

.feedback {
    position: relative;
    background-color: white;
    padding: 2rem;
    text-align: center;
    margin: 50px 15px;
    border-radius: 10px 10px 0px 0px;
}

.feed-img {
    position: absolute;
    top: -16%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 4px;
    border-radius: 50%;
    filter: drop-shadow(3px 5px 15px rgba(0, 0, 0, 0.404))
}

.feed-name {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    text-transform: capitalize;
    margin: 1.5rem 0 1rem 0;
}

.feed-desc {
    color: rgb(46, 46, 46);
    font-size: 15px;
    font-weight: 600;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

.feed-icon {
    color: #b6b6b6;
    font-size: 18px;

}

.our-review {
    position: relative;
    overflow: hidden;
    color: white;
    padding: 4rem 0;
}

.bg-moving-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bg-moving-color::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    z-index: 1;
}

.bg-moving-color div {
    position: absolute;
    border-radius: 50%;
    -webkit-animation: gradient 4s infinite;
    animation: gradient 4s infinite;
}

@keyframes gradient {
    70% {
        transform: scale(2) translate(100px);
    }
}

.bg-moving-color div:first-child {
    height: 90%;
    width: 80%;
    background: linear-gradient(335.79deg, #444444 32.96%, #000000 110.86%);
    left: -20%;
    top: -10%;
}

.bg-moving-color div:nth-child(2) {
    height: 98%;
    width: 64%;
    background: linear-gradient(226.14deg, #000000 -21.57%, #252525 106.85%);
    top: -2%;
    right: -4%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    border-radius: 100%;
    transform: rotate(302deg);
    z-index: 1;
}

.bg-moving-color div:nth-child(3) {
    height: 65%;
    width: 80%;
    background: rgba(39, 39, 39, 0.5);
    bottom: -15%;
    right: -49%;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    z-index: 1;
}

.bg-moving-color div:nth-child(4) {
    height: 50%;
    width: 75%;
    background: linear-gradient(253.63deg, rgba(42, 145, 235, 0) 41.93%, #060a0e 61.35%);
    bottom: -10%;
    left: -18%;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;

}




/* ----------- contact ----------- */
.our-contact{
    padding-top: 3rem;
}
.contact-wrap {
    padding: 15px;
    background-color: #fff;
    box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.24);
    border-bottom: 6px solid;
    min-height: 205px;
    text-align: center;
    margin-bottom: 3rem
}

.contact-wrap.c-1,
.contact-wrap div.c-1 {
    border-color: rgb(0, 241, 241, .7);
    color: rgb(0, 241, 241)
}

.contact-wrap.c-2,
.contact-wrap div.c-2 {
    border-color: rgb(1, 99, 228, .7);
    color: rgb(1, 99, 228)
}

.contact-wrap.c-3,
.contact-wrap div.c-3 {
    border-color: rgb(221, 0, 147, .7);
    color: rgb(221, 0, 147)
}

.contact-wrap.c-4,
.contact-wrap div.c-4 {
    border-color: rgb(238, 202, 0, .7);
    color: rgb(238, 202, 0)
}

.contact-wrap div {
    font-size: 2.5rem;

}

.contact-wrap p:nth-child(2) {
    font-size: 13px;
    color: rgb(255, 35, 83);
    letter-spacing: 1px;
    margin-bottom: 6px
}

.contact-wrap .contact-info {
    font-size: 15px;
    font-weight: 600;
    color: var(--dark-color)
}

.iframe-map {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.iframe-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------- category ------------ */
.our-category {
    padding: 5rem 0;
}

.category-wrap {
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0 15px;
    /* filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.16)); */
}

.category-wrap:hover .cat-title {
    opacity: 1;
}

.category-wrap:hover img {
    scale: 1.1;
}

.category-wrap img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.26));
    object-fit: cover;
    border-radius: 15px;
    transition: .5s all ease-in;
}

.category-wrap .cat-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    border-radius: 15px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px;
    text-align: center;
    background-color: rgba(128, 255, 0, 0.658);
    transition: .5s all ease-in;
    opacity: 0;
}

/* ---------- product ------------ */

.our-product {
    padding: 16rem 0 7rem 0;
    background-color:var(--dark-color);
}
.our-popular{
    padding: 5rem 0;
}
.all-products{
    min-height: 100vh;
    padding: 2rem 0 5rem 0;
}
.view-product{
    min-height: 100vh;
    padding: 2rem 0 5rem 0;
}
.product-wrap {
    position: relative;
    background: #fff;
    padding: 16px;
    overflow: hidden;
    height: 425px;

}

.product-wrap::before {
    content: '';
    position: absolute;
    bottom: -300px;
    left: -300px;
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: 40px solid #0e7bc420;
    border-radius: 100%;
    transition: all 0.2s ease;
}

.product-wrap:hover:before {
    bottom: -130px;
    left: -130px;
    transform: scale(1.5)
}

.product-wrap:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.096), -3px -3px 10px rgba(0, 0, 0, 0.096);
}

.product_img {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.product_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product_detail {
    text-align: center
}

.product__title {
    margin-top: 14px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;


}

.product__price {
    margin-bottom: 10px;
}

.product__price .product__ori {
    color: #999;
    text-decoration: line-through;
}

.product__price .product__sell {
    font-weight: 800;
    padding-left: 10px;
}

/* ----------- collections ------- */
.collections {
    margin: 0rem 0 -11rem 0;
    padding-top: 7rem;
}

.collects-col1 {
    background: url('../../image/about/a-3.jpg') no-repeat 50%;
    background-size: cover;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.171);
}

.collects-col2 {
    background: url('../../image/about/a-4.jpg') no-repeat 50%;
    background-size: cover;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.171);
}

.collections .col:hover .collects-details .collect-item {
    transform: translateX(30px);
}

.collects-details {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-end;
    min-height: 350px;
    text-align: left;
    padding: 35px 150px 35px 35px;
    color: white;
    transition: .5s;
}

.collects-details .collect-item {
    transition-duration: 1000ms;
    transition-property: transform;
    transition-timing-function: ease;
    transform: translateX(0);
}

.collects-details .collect-item:nth-child(1) {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-family: 'neue-haas-unica, neue-haas-unica_fallback', sans-serif !important;
    transition-delay: 0ms;
}

.collects-details .collect-item:nth-child(2) {
    transition-delay: 200ms;
}

.collects-details .collect-item:last-child {
    transition-delay: 400ms;
}

/* ---------- advantage --------- */
.advantage-wrap {
    border-radius: 15% 0 0% 15%;
    background-color: var(--dark-color);
    padding: 5rem 0 5rem;
    color: white
}

.advantage-details {
    margin-top: 80px;
}

.ad-icon {
    font-size: 48px;
    text-align: center;
    color: gold;
}

.ad-text {
    font-size: 21px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
}

/* --------- about --------------- */
.about-wrap {
    position: relative;
    padding: 5rem 0;
}

.about-wrap::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 32%;
    height: 100%;
    background-color: var(--dark-color);
    z-index: 0;

}

@media only screen and (max-width:992px) {
    .about-wrap::after {
        content: none
    }
}

.about-wrap .row {
    position: relative;
    z-index: 1;
}

.about-img-1 {
    filter: drop-shadow(-20px 20px 20px rgba(0, 0, 0, 0.171))
}

.about-img-2 {
    margin: -30% -50% 0 0;
}

.about-img-2 img {
    width: 30%;
    border: 8px solid var(--dark-color);
    border-radius: 5px;
}


/* ------------- animations ----------- */
/* .animateMove{
    position: relative;
} */

.animateMove .animate{
    width: 50px;
    position: absolute;
    z-index: 2;
}
.animate:nth-child(1){
  left: 20%;
  top: 387%;
  animation: move1 10s linear infinite alternate;
}
.animate:nth-child(2){
  left: 20%;
  top: 53%;
  animation: move2 10s linear infinite alternate;
}
.animate:nth-child(3){
  left: 50%;
  top: 60%;
  animation: move3 10s linear infinite alternate;
}
.animate:nth-child(4){
  left: 79%;
  top: 199%;
  animation: move4 10s linear infinite alternate;
}
.animate:nth-child(5){
  left: 20%;
  top:120%;
  animation: move5 10s linear infinite alternate;
}

@keyframes move1{
  to{
    transform: translate(100px,250px) scale(2,2) rotate(270deg);
    
  }
}
@-webkit-keyframes move1{
  to{
    transform: translate(100px,200px) scale(2,2) rotate(270deg);
    
  }
}

@keyframes move2{
  to{
    transform: translate(50px,-100px) skew(10deg) rotate(-90deg) ;
  }
}
@-webkit-keyframes move2{
  to{
    transform: translate(50px,-100px) skew(10deg) rotate(-90deg) ;
  }
}
@keyframes move3{
  to{
    transform: translate(-100px,-200px);
    rotate: 60deg;
  }
}
@-webkit-keyframes move3{
  to{
    transform: translate(-100px,-200px);
    rotate: 60deg;
  }
}
@keyframes move4{
  to{
   transform:  matrix(1, -0.3, 1, 1, -50, -150) rotate(45deg);
  }
}
@-webkit-keyframes move4{
  to{
   transform:  matrix(1, -0.3, 1, 1, -50, -150) rotate(45deg);
  }
}
@keyframes move5{
  50%{
    transform: translate(-50px,-100px) rotate(45deg);
  }
  100%{
    transform: translate(-100px,-200px) rotate(150deg);
  }
}
@-webkit-keyframes move5{
  50%{
    transform: translate(-50px,-100px) rotate(45deg);
  }
  100%{
    transform: translate(-100px,-200px) rotate(150deg);
  }
}

/* ----------- header -------------- */

.navbar{
    background-color: var(--dark-color) !important;
    color: white !important;
    /* padding: 20px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom:1px solid rgb(51, 51, 51); 
    transition: 1s all ease-out;
    z-index: 100;
  }
  .social-icon{
    font-size: 22px;
    padding-right: 10px;
    color: white;
    transition:color .4s ease-in;
  }
  .social-icon:first-child:hover{
    color: yellow;
  }
  .social-icon:nth-of-type(2):hover{
    color: #1775eb
  }
  .social-icon:nth-child(3):hover{
    color: #cc2779;
  }
  .social-icon:last-of-type:hover{
    color: #53cc63;
  }


/* ----------- footer ------------- */
#footer {

    position: sticky;
    position: -webkit-sticky;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1rem;
    background-color: var(--dark-color);
    z-index: -1;
}

.footer {
    padding: 8rem 0;
    /* background: url('../../image/about/f1.jpg') no-repeat center / cover fixed ; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.74)), url('../../image/about/f1.jpg');
    background-size: cover;
    /* background-attachment: fixed; */



}

.footer-icon {
    text-align: center
}

.footer-icon .icons {
    display: inline-block;
    background: white;
    color: var(--dark-color);
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    margin-right: 1rem;
    transition: background .4s ease;
}

.footer-icon .icons:hover {
    background: var(--primary-color);
    color: white
}

.designed {
    text-align: center;
    color: var(--light-color);
    font-size: 16px;
}
.designed .designed-brand{
    font-weight: 700;
    /* text-decoration: underline; */
    color: #1775eb;
}
.designed .designed-brand:hover{
    color: var(--primary-color);
}